{% load static %}

<div class="question">
    <div class="row">
        <div class="col-2">
            <div class="avatar">
                <img src="{% static "img/abc.jpg" %}" alt="">
            </div>
        </div>
        <div class="col-8">
            {% if request.path == "/" %}
                <a href="/question/{{ question.number }}"><h3>{{ question.title }}</h3></a>
            {% endif %}
            {% if request.path != "/" %}
                <h3>{{ question.title }}</h3>
            {% endif %}
            <p>{{ question.text }}</p>
            <a style="margin-right: 20px;" href="#">answers ({{ question.answers }})</a>
            Tags:&nbsp;&nbsp;&nbsp;
                {% for i in question.counting_tags %}
{#                    {% if request.path != "/tags/{{question.tag_name}}" %}#}
                        <a href="/tags/{{ question.tag_name }}"> {{ question.tag_name }} </a> &nbsp;&nbsp;
{#                    {% endif %}#}
                {% endfor %}
        </div>
    </div>
</div>