<h1>Popular tags</h1>
<div style="border: 2px solid gray;">
    <h3>
        <div>
            <a href="#" style="text-decoration:none; color: #6a1a21;">MySQL</a>
            <a href="#" style="text-decoration:none; color: #BDB76B; margin-left: 15px">python</a>
            <a href="#" style="text-decoration:none; color: #fd7e14; margin-left: 40px">Ruby</a>
        </div>
        <div>
            <a href="#" style="text-decoration:none; color: #6a1a21;">Make</a>
            <a href="#" style="text-decoration:none; color: #fd7e14; margin-left: 15px">Pascal</a>
        </div>
        <div>
            <a href="#" style="text-decoration:none; color: #6a1a21;">C/C++</a>
            <a href="#" style="text-decoration:none; color: #BDB76B; margin-left: 15px">C#</a>
            <a href="#" style="text-decoration:none; color: #fd7e14; margin-left: 40px">Cmake</a>
        </div>
    </h3>
</div>